html {
	font-size: 16px;
}

body {
	color: teal;
	background: teal;
	font-size: 16px;
}

main {
	max-width: 900px;
	margin: 0 auto;
	background: aliceblue;
	padding:5rem;
}

svg {
	width: 300px;
	transform-origin: 50 50;
}

#head {
	fill: #FFC44E;
}

#earTip {
	/*fill:blue;*/
}

#mouth {
	fill: #69502E;
}



/*----Brow Lift-----*/

#leftBrow {
	/*transform: rotate(-50deg);*/
	transform-origin: center center;
	/*transform: translateY(-2rem) rotate(-5deg);*/
}

#rightBrow {
	/*transform: rotate(-50deg);*/
	transform-origin: center right;
	/*transform: translateY(-.35rem) rotate(7deg);*/
}

.brows #leftBrow, .brows #rightBrow {
	animation-name: browLift;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out ;

}

@keyframes browLift {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}

/*-----Heart Eyes-----*/
#leftHeart, #rightHeart {
	transform: scale(.10);
	transform-origin: 76.5% 51%;
	visibility: hidden;
}

#leftHeart {
	transform-origin: 24% 51%;
}

.hearts #leftHeart, .hearts #rightHeart {
	animation: heartEyes 1000ms ease-in 2 forwards;
	transform: scale(.1);
	animation-fill-mode: forwards;
	visibility: visible;
}

@keyframes heartEyes {
	0% {
		transform: scale(.1) ;
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.1);
	}
	75% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.1);
	}
}

.hearts #leftBrow {
	animation: leftHeartBrows 1000ms ease-in-out 1 forwards;
	animation-fill-mode: forwards;

}

.hearts #rightBrow {
	animation: rightHeartBrows 1000ms ease-in-out 1 forwards;
	animation-fill-mode: forwards;
}

@keyframes leftHeartBrows {
	0% {
		transform: translateY(0);
	}
	30%, 75% {
		transform: translateY(-2rem) rotate(-5deg);
	}
	100% {
		transform: translateY(0) rotate(0deg);
	}
}

@keyframes rightHeartBrows {
	0% {
		transform: translateY(0);
	}
	30%, 75% {
		transform: translateY(-.35rem) rotate(7deg);
	}
	100% {
		transform: translateY(0) rotate(0deg);
	}
}
#leftEye, #rightEye {
	transition: all 100ms ease-in-out;
}

.hearts #leftEye, .hearts #rightEye {
	opacity: 0;
}

@keyframes heartShrinkEyes {

} 


















/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */

