html {
	font-size: 16px;
}

body {
	color: teal;
	background: teal;
	font-size: 16px;
}

main {
	max-width: 900px;
	margin: 0 auto;
	background: aliceblue;
	padding:5rem;
}

svg {
	width: 300px;
	transform-origin: 50 50;
}

#head {
	fill: #FFC44E;
}

#earTip {
	/*fill:blue;*/
}

#earMarkNose {
	fill: navy;
}



/*----Brow Lift-----*/
.brows #leftBrow, .brows #rightBrow {
	animation-name: browLift;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out ;
}

@keyframes browLift {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}

/*-----Heart Eyes-----*/
#leftHeart, #rightHeart {
	transform: scale(.10);
	transform-origin: center center;
}

.hearts #leftHeart, .hearts #rightHeart {
	/*animation: heartEyes 500ms ease-in 0 2 forwards;*/
/*	animation-name: heartEyes;
	animation-duration: .5s;*/
	transform: scale(.1);
	animation-name: heartEyes;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out ;
	display: block;
}

@keyframes heartEyes {
	0% {
		transform: scale(.1) ;

	}
	50% {
		transform: scale(1.2);
		/*-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);*/
	}
	100% {
		transform: scale(0.1);

	}
}
/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */
















/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */

